:root {
  --spacing-size: 0.5rem;
  --display-line-height: 2em;
  --display-letter-spacing: -0.08em;
  ---icon-size: ;
  --memory-display-size: 1em;
  --main-display-size: 1.75em;
  --display-font-family: 'Quicksand', sans-serif;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  max-height: 100dvh;
  font-family: var(--display-font-family);
  gap: var(--spacing-size)

}

aside {
  width: 20%;
}

main {
  width: 100%;
}
button {
  font-family: var(--display-font-family);
  font-weight: 800;
  padding-bottom: 0.2rem;
  font-size: 1em;
}

button > i {
  padding-bottom: 0;
  padding-top: 0.2rem;
}


div {
  background-color: pink;
}

sup,
sub {
  font-size: 0.75em;
}

aside > table {
  width: 100%;
}

aside > table > thead {
  text-align: left;
}

aside > table > tbody {
  text-align: right;
}

aside > table > tbody > tr:nth-child(odd) > td {
  /* color: pink; */
  font-size: var(--memory-display-size);
}

aside > table > tbody > tr:nth-child(even) > td {
  font-size: var(--main-display-size);
  padding-bottom: var(--spacing-size);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  justify-content: start;
}

.align-left {
  text-align: right;
}

.answer-display-container {
  background-color: violet;
  font-style: italic;

}

.transparent-bg-btn {
  border: 0;
  padding: 0 0.5rem;
  background-color: transparent;
}

.display-screen {
  margin: var(--spacing-size);
  display: flex;
  flex-direction: column;
  line-height: var(--display-line-height);
  letter-spacing: var(--display-letter-spacing);
}

.display-screen > .main-display {
  /* font-family: var(--display-font-family); */
  font-size: var(--memory-display-size);
  text-align: right;
  font-size: var(--main-display-size);
  font-style: italic;
  padding: 0 var(--spacing-size);
  width: 100%;
}

.buttons-container {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: var(--spacing-size);
  padding:var(--spacing-size);
}

.row > button {
  width: 100%;
}

.buttons-container > .plus-btn {
  grid-column: 4;
  grid-row: 5 / 7;
}