:root {
  --spacing-size: 0.5rem;
  --display-line-height: 2em;
  --display-letter-spacing: -0.05em;
  ---icon-size: ;
  --memory-display-size: 1em;
  --main-display-size: 1.75em;
  --display-font-family: 'Quicksand', sans-serif;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: var(--display-font-family);
  font-weight: 800;
  padding-bottom: 0.2rem;
  font-size: 1em;
}

button > i {
  padding-bottom: 0;
  padding-top: 0.2rem;
}

div {
  background-color: pink;
}

.grid {
  display: grid;
}

.display-screen {
  margin: var(--spacing-size);
  font-family: var(--display-font-family);
  font-size: var(--memory-display-size);
  display: flex;
  flex-direction: column;
}

.display-screen > .main-display {
  line-height: var(--display-line-height);
  letter-spacing: var(--display-letter-spacing);
  text-align: right;
  font-size: var(--main-display-size);
  /* font-style: italic; */
  padding: 0 var(--spacing-size);
  width: 100%;
}

.buttons-container {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: var(--spacing-size);
  padding:var(--spacing-size);
}

.row > button {
  width: 100%;
}

.buttons-container > .plus-btn {
  grid-column: 4;
  grid-row: 4 / 6;
}