:root {
  --spacing-size: 0.5rem;
  --display-line-height: 1.5em;
  --display-letter-spacing: -0.02em;
  ---icon-size: ;
  --display-size: 1.5em;
  --display-font-family: 'Raleway', sans-serif;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: var(--display-font-family);
  font-weight: 800;
  padding-bottom: 0.2rem;
  font-size: 1em;
}

button > i {
  padding-bottom: 0;
  padding-top: 0.2rem;
}

div {
  background-color: pink;
}

.grid {
  display: grid;
}

.display-screen {
  margin: var(--spacing-size);
  background-color: red;
  font-size: var(--display-size);
  line-height: var(--display-line-height);
  letter-spacing: var(--display-letter-spacing);
  font-family: var(--display-font-family);
}

.display-screen > p {
  text-align: end;
}

.buttons-container {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  padding:0.5rem;
}

.row > button {
  width: 100%;
}

.buttons-container > .plus_btn {
  grid-column: 4;
  grid-row: 4 / 6;
}